<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">${db.driver_class}</property>
		<property name="hibernate.connection.url">${db.connectionURL}</property>
		<property name="hibernate.connection.username">${db.username}</property>
		<property name="hibernate.connection.password">${db.password}</property>
		<property name="hibernate.connection.autocommit">false</property>

		<!-- Pabre connection configuration -->
		<property name="connection.directory"></property> <!-- Directory where to save the embedded database -->
		<property name="connection.database.name"></property> <!-- Database name -->

		<!-- JDBC connection pool (use the built-in) -->
		<property name="hibernate.connection.pool_size">3</property>

		<!-- SQL dialect -->
		<property name="hibernate.dialect">${db.dialect}</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="hibernate.show_sql">${db.show_sql}</property>
		<property name="hibernate.format_sql">true</property> <!-- Show SQL formatted -->
		<property name="hibernate.default_schema">APP</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hibernate.hbm2ddl.auto">${db.auto}</property> <!-- //NOSONAR -->


		<mapping resource="config/MappingGenericObject.hbm.xml" />
	</session-factory>
</hibernate-configuration>